<!--  ------main----------------- -->
<!-- <mat-card class="example-card" style="padding-bottom: 10px !important; "> -->
  <ngx-spinner type="timer">
    <h5>Loading</h5>
  </ngx-spinner>

  <!-- first card -->
  <div class="pt-5 row d-flex">
      <div class="col-4 col-md-3 mb-4">
          <div class="card border-left-info shadow h-100">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="font-weight-bold text-info text-uppercase mb-1">Today</div>
                          <div class="row no-gutters align-items-center">

                          </div>
                      </div>
                      <div class="col-auto">
                          <span class="percentage"> {{this.countToday}}</span>

                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- second card -->
      <div class="col-4 col-md-3 mb-4">
          <div class="card border-left-info shadow h-100">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="font-weight-bold text-info text-uppercase mb-1">Current Month</div>
                          <div class="row no-gutters align-items-center">

                          </div>
                      </div>
                      <div class="col-auto">
                          <span class="percentage"> {{this.countCurrentMonth}}</span>

                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-4 col-md-3 mb-4">
        <div class="card border-left-info shadow h-100">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="font-weight-bold text-info text-uppercase mb-1">Last Month</div>

                    </div>
                    <div class="col-auto">
                        <span class="percentage">  {{this.countLastMonth}}</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 col-md-3 mb-4">
      <div class="card border-left-info shadow h-100">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="font-weight-bold text-info text-uppercase mb-1">Current Year</div>

                  </div>
                  <div class="col-auto">
                      <span class="percentage"> {{this.countCurrentYear}}</span>

                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-4 col-md-3 mb-4">
    <div class="card border-left-info shadow h-100">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="font-weight-bold text-info text-uppercase mb-1">MTTR Today</div>

                </div>
                <div class="col-auto">
                    <span class="percentage1"> {{this.MttrToday}}</span>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-4 col-md-3 mb-4">
  <div class="card border-left-info shadow h-100">
      <div class="card-body">
          <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                  <div class="font-weight-bold text-info text-uppercase mb-1">MTTR Current Month</div>

              </div>
              <div class="col-auto">
                  <span class="percentage1"> {{this.MttrCurrentMonth}}</span>

              </div>
          </div>
      </div>
  </div>
</div>
<div class="col-4 col-md-3 mb-4">
  <div class="card border-left-info shadow h-100">
      <div class="card-body">
          <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                  <div class="font-weight-bold text-info text-uppercase mb-1">MTTR Last Month</div>

              </div>
              <div class="col-auto">
                  <span class="percentage1"> {{this.MttrLastMonth}}</span>

              </div>
          </div>
      </div>
  </div>
</div>
<div class="col-4 col-md-3 mb-4">
  <div class="card border-left-info shadow h-100">
      <div class="card-body">
          <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                  <div class="font-weight-bold text-info text-uppercase mb-1">MTTR Current Year</div>

              </div>
              <div class="col-auto">
                  <span class="percentage1">{{this.MttrCurrentYear}}</span>

              </div>
          </div>
      </div>
  </div>
</div>




  </div>
  <div class="row">

      <div class="col-sm-12 col-md-6 row pr-0">
<!-- first table -->
        <div class="col-sm-12 pr-0">


          <mat-card class="example-card mt-0 shadow card">
            <mat-card-header>
                <mat-card-title>
                  Request Count & MTTR group by Category &Sub Category
                </mat-card-title>

            </mat-card-header>
            <mat-divider></mat-divider>
          <div class="search-div" fxLayout="row">

            <mat-form-field class="search-form-field" floatLabel="never">
                <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
               <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
          </div>

          <div class="text-center my-5" *ngIf="dataSource==null;else table">

              <span class="font-weight-bold">Loading</span>
              <mat-progress-bar mode="indeterminate" class="mt-2"></mat-progress-bar>
          </div>

          <ng-template #table>
            <div class="example-container mat-elevation-z8">

          <mat-table [dataSource]="dataSource" multiTemplateDataRows  matSort (matSortChange)="sortData($event)" matSortActive="RequestCount" matSortDirection="asc" matSortDisableClear  >

            <ng-container matColumnDef="Category">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Category"> {{element.category}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="SubCategory">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> SubCategory </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="SubCategory"> {{element.subCategory}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="RequestCount">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> RequestCount </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="RequestCount"> {{element.requestCount}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Mttr">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Mttr </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Mttr"> {{element.mttr}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                   No Data ...
                </mat-footer-cell>

            </ng-container>



            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource.data.length==0 && dataSource !=null)}"></mat-footer-row>
            <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" class="student-element-row"></mat-row>
             <!-- Extra row to show detail content column -->


          </mat-table>
          <!-- end test -->
          </div>

          </ng-template>

          <mat-paginator [pageSizeOptions]="[5,25, 50, 100]"   [pageSize]="5"   showFirstLastButtons (page)="pageChanged($event)"></mat-paginator>

          </mat-card>


        </div>

        <!-- second table -->
        <div class="col-sm-12 mt-3 pr-0">
          <mat-card class="example-card mt-0  shadow card">
            <mat-card-header>
                <mat-card-title>

                List of Request Grouped by Closure Reason
                </mat-card-title>




            </mat-card-header>
            <mat-divider></mat-divider>
          <div class="search-div" fxLayout="row">

            <mat-form-field class="search-form-field" floatLabel="never">
                <input matInput [(ngModel)]="closure_searchKey" placeholder="Search" autocomplete="off" (keyup)="closure_applyFilter()">
               <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="closure_searchKey" (click)="closure_onSearchClear()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
          </div>

          <div  class="text-center my-5"  *ngIf="closure_dataSource==null;else closure_table">
            <span class="font-weight-bold">Loading</span>
            <mat-progress-bar mode="indeterminate" class="mt-2"></mat-progress-bar>
          </div>

          <ng-template #closure_table>
            <div class="example-container mat-elevation-z8">

          <mat-table [dataSource]="closure_dataSource" multiTemplateDataRows  matSort (matSortChange)="closure_sortData($event)" matSortActive="RequestCount" matSortDirection="asc" matSortDisableClear >

            <ng-container matColumnDef="closureReason">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> closureReason </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="closureReason"> {{element.closureReason}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="RequestCount">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> RequestCount </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="RequestCount"> {{element.requestCount}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Mttr">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Mttr </mat-header-cell>
                <mat-cell *matCellDef="let element" data-label="Mttr"> {{element.mttr}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                   No Data ...
                </mat-footer-cell>

            </ng-container>



            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(closure_dataSource.data.length==0 && closure_dataSource !=null)}"></mat-footer-row>
            <mat-header-row *matHeaderRowDef="closure_displayedColumns;sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: closure_displayedColumns;" class="student-element-row"></mat-row>
             <!-- Extra row to show detail content column -->


          </mat-table>
          <!-- end test -->
          </div>

          </ng-template>

          <mat-paginator #closure_MatPaginator [pageSizeOptions]="[5,25, 50, 100]"   [pageSize]="5"   showFirstLastButtons (page)="closure_pageChanged($event)"></mat-paginator>

          </mat-card>

        </div>

      </div>
      <div class="col-sm-12 col-md-6 pr-0 ml-4">
        <div class="text-center my-5" *ngIf="barChartData==null;else chart">

          <span class="font-weight-bold">Loading</span>
          <mat-progress-bar mode="indeterminate" class="mt-2"></mat-progress-bar>
      </div>
<ng-template #chart>
        <div class="mx-0 pt-4  shadow card border-left-info" style="height:580px">

            <div class="chart-wrapper mb-5 ">
                <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [colors]="barcolors"
                [chartType]="barChartType"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend">
                </canvas>
            </div>
            <hr class="breakline">
            <div class="detailscharttxt">
                <div class="detailschartblocks">


                    <span id="MainContent_monthstat_lbl" class="lblbigtxt">{{totalMttr}}</span>
                    <label class="lblbigtxtunder">Total Mttr</label>
                </div>
                <div class="detailschartblocks">

                    <span id="MainContent_totalevu_lbl" class="lblbigtxt">{{totalRequests}}</span>

                    <label class="lblbigtxtunder">Total Requests</label>
                </div>

                <!-- <div class="detailschartblocks">


                    <span id="MainContent_totalevoustat_lbl" class="lblbigtxt">+ 17%</span>
                    <label class="lblbigtxtunder">Total </label>
                </div> -->

            <!-- <hr class="breakline"> -->
            <!-- <div class="detailschartblocks">
                <label class="lblevaulatestat ">Evaluate Done</label>
            </div>
            <div class="detailschartblocks">
                <label class="lblevaulatestat2">15<sub style="font-size: 11px;">Done Till Now</sub></label>

            </div>
            <div class="detailschartblocks">
                <label class="lblevaulatestat3">50<sub style="font-size: 11px;">Required</sub></label>
            </div> -->
        </div>

        </div>

      </ng-template>

    </div>

  </div>

<!-- </mat-card> -->

